.outer-header-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  z-index: 7;
  /* background-color: rgba(16, 11, 29, 0.58);
  transition: all 300ms ease 0s;
  backdrop-filter: blur(15px); */
}

.nav-container {
  width: 100%;
  max-width: 1300px;
  margin: 40px auto;
  padding: 0px 30px;
  box-sizing: border-box;
}

.nav-header-container {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 65px;
}

.nav-items {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 55px;
}

.nav-items li a {
  cursor: pointer;
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
  font-weight: 500;
}

.resume {
  border: 1px solid rgb(74, 74, 152);
  border-radius: 5px;
  padding: 10px;
  transition: 0.2s;
}

.resume:hover {
  background-color: rgb(106, 106, 215);
}

.menu {
  display: none;
}

@media only screen and (max-width: 760px) {
  .nav-items {
    display: none;
  }

  .menu {
    display: block;
    z-index: 5;
  }
}
